<!DOCTYPE html>
<html>
   <head>
   <div align="center">
      <style>
       
      </style>
   </head>

   <body>
      <h1>Add a student</h1>
      
 <form action="/student/add" method="post">
 <label for="firstname">First Name:</label>
 <input type="text" name="firstname" required="required"></input><br>
 <label for="lastname">Last Name:</label>
 <input type="text" name="lastname" required="required"></input><br>
	  <input type="submit" value="Submit">
	  </input>
	</form>
	{% for message in get_flashed_messages() %}
	<u1 class=flashes>{{ message }}</u1>
          {% endfor %}
          <br>
          <br>
          <br>
          <br>
          <a href="/dashboard">Go to Dashboard</a>
          
          
      </div>
   </body>
</html>
